---

- hosts: all
  gather_facts: no
  become: yes 
  become_user: root
  become_method: sudo
  tasks:

    - apt:
        name: python3-pip
        update_cache: yes
        cache_valid_time: 604800 # 1 week

    - pip:
        name: docker
